/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 500px;
  width: 100%;
  padding: 2rem 1rem;
  position: relative;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.75rem;
}

button,
select {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
select:hover {
  background-color: #005f99;
}

img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 1.5rem auto;
  display: block;
}

.levitate {
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.15));
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#langSelector {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  main {
    padding: 1rem;
  }

  button{
    width: 100%;
  }

  img {
    max-width: 100px;
  }
}